/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
ul{
  list-style: none;
  padding: 0;
}

.wrapp-list {
  width: 50rem;
  margin: 0 auto;
}



h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  font-size: 5rem;
  
}

.wrapper{
  background-color: rgba(110, 174, 95, 0.727);
}

.counter{

  color: white;
  font-style: italic;

}

i {
font-size: 2rem;
color: rgb(95, 94, 94);

}


